@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-light.eot");
  src: local("☺"), url("../fonts/gilroy-light.woff") format("woff"), url("../fonts/gilroy-light.ttf") format("truetype"), url("../fonts/gilroy-light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
html, body {
  min-height: 100%;
  font-family: "Gilroy";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 44px;
  font-weight: 800;
  line-height: 50px;
  color: #1F2428;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 36px;
  background: -webkit-gradient(linear, left top, right top, from(#00C97B), color-stop(96.96%, #00D981));
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  -webkit-box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
          box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}

.header {
  width: 100%;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}
.header__nav-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 10;
}
@media (max-width: 905px) {
  .header .header__logo img {
    width: 150px;
    height: 37px;
  }
}
.header__nav-list ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #1F2428;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.header__nav-list ul li a:hover {
  color: #01CD7D;
}
.header__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__enter span {
  font-size: 15px;
  font-weight: 600;
  color: #1F2428;
  margin: 0px 0px 0px 5px;
}
.header__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__btn {
  font-size: 13px !important;
  width: calc(100px + (170 - 100) * ((100vw - 860px) / (1430 - 860)));
  height: 48px;
  padding: 0px 10px;
}

.menu__icon {
  display: none;
}

@media (min-width: 784px) {
  .header__logo {
    margin: 0px 10px 0px 0px;
  }
  .header__nav-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__nav-list ul li {
    margin: 10px 20px;
    text-align: center;
  }
  .header__enter {
    margin: 0px 35px 0px 10px;
  }
  .header__btn {
    width: calc(100px + (170 - 100) * ((100vw - 860px) / (1430 - 860)));
  }

  .menu__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 784px) {
  .header {
    min-height: 80px;
  }
  .header__nav-list ul {
    text-align: center;
  }
  .header__nav-list ul li {
    line-height: 48px;
  }
  .header__nav-list ul li a {
    font-size: 20px;
  }
  .header__enter {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }
  .header__btn-block {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  .header__btn {
    width: 150px;
  }

  .menu__body-bg {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__body-bg._active {
    opacity: 1;
    visibility: visible;
  }
  .menu__body {
    position: fixed;
    z-index: 5;
    top: 0;
    left: -120%;
    width: 50%;
    height: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: auto;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.5);
  }
  .menu__body._active {
    left: 0;
  }
  .menu__icon {
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  .menu__icon::before,
.menu__icon span, .menu__icon::after {
    position: absolute;
    width: 100%;
    height: 8%;
    background: #000;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, 50%);
            transform: rotate(-45deg) translate(0px, 50%);
  }
}
@media (max-width: 784px) and (max-width: 525px) {
  .menu__body {
    width: 100%;
  }
}
main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

.deliverybord {
  width: 100%;
  min-height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.deliverybord__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  max-width: 1920px;
  padding: 0px 60px;
}
.deliverybord__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 680px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
}
.deliverybord__block-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.deliverybord__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  color: #fff;
}
.deliverybord__description {
  font-size: 20px;
  font-weight: 300;
  line-height: 42px;
  color: #fff;
  margin: 15px 0px 30px 0px;
}
@media (max-width: 1430px) {
  .deliverybord .deliverybord__title {
    font-size: 72px;
    line-height: 80px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .deliverybord .deliverybord__title {
    font-size: calc(24px + 48 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .deliverybord .deliverybord__title {
    line-height: calc(28px + 52 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .deliverybord .deliverybord__description {
    font-size: 20px;
    line-height: 42px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .deliverybord .deliverybord__description {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .deliverybord .deliverybord__description {
    line-height: calc(24px + 18 * ((100vw - 320px) / 1110));
  }
}
.deliverybord__btn {
  width: 260px;
  height: 66px;
}
.deliverybord__block-img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41%;
          flex: 0 1 41%;
  padding: 0px 0px 43% 0px;
}
.deliverybord__block-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 997px) {
  .deliverybord__block-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .deliverybord__block-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 997px) {
  .deliverybord__container {
    padding: 0px 15px;
  }
  .deliverybord__block-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .deliverybord__block-content {
    text-align: center;
  }
  .deliverybord__btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 30px 0px;
  }
}
.benefit {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.benefit__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.benefit__title {
  max-width: 475px;
  margin: 100px 0px 0px 0px;
}
@media (max-width: 1430px) {
  .benefit .benefit__title {
    font-size: 44px;
    line-height: 50px;
    margin-top: 100px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__title {
    font-size: calc(24px + 20 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__title {
    line-height: calc(28px + 22 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__title {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 1110));
  }
}
.benefit__goods-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
          box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
  border-radius: 16px;
  margin: 40px 0px 55px 0px;
}
@media (max-width: 1430px) {
  .benefit .benefit__goods-categories {
    margin-top: calc(30px + 10 * ((100vw - 320px) / 1215));
    margin-bottom: calc(30px + 25 * ((100vw - 320px) / 1215));
  }
}
.benefit__goods-categories-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 70px;
}
.benefit__goods-categories-container {
  width: 100%;
  overflow: hidden;
}
.benefit__goods-categories-items {
  width: 100%;
}
.benefit__goods-categories-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.benefit__goods-categories-item:hover {
  background: #F2F6FC;
}
.benefit__goods-categories-img {
  margin: 0px 10px 0px 0px;
}
.benefit__goods-categories-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #1F2428;
}
.benefit__goods-example-container {
  overflow: hidden;
}
.benefit__goods-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefit__goods-example-info {
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  color: #1F2428;
  margin: 80px 0px 44px 0px;
}
.benefit__goods-example-info span {
  color: #01CD7D;
}
@media (max-width: 1430px) {
  .benefit .benefit__goods-example-info {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__goods-example-info {
    font-size: calc(20px + 6 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__goods-example-info {
    line-height: calc(28px + 8 * ((100vw - 320px) / 1110));
  }
}
.benefit__goods-example-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  min-height: 120px;
  border-radius: 16px;
  background: #F2F6FC;
  padding: 0px 25px 0px 34px;
}
@media (max-width: 1430px) {
  .benefit .benefit__goods-example-price {
    padding-right: 25px;
    padding-left: 34px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__goods-example-price {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__goods-example-price {
    padding-left: calc(15px + 19 * ((100vw - 320px) / 1110));
  }
}
.benefit__goods-example-price-counry {
  margin: 0px 25px 0px 0px;
}
.benefit__goods-example-price-count {
  font-size: 18px;
  font-weight: 400;
  color: #1F2428;
}
.benefit__goods-example-price-count p {
  font-size: 26px;
  font-weight: 700;
  margin: 5px 0px 0px 0px;
}
.benefit__goods-example-price-count_rus p {
  color: #1F2428;
}
.benefit__goods-example-price-count_uk p {
  color: #01CD7D;
}
@media (max-width: 1430px) {
  .benefit .benefit__goods-example-price-count {
    font-size: 18px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__goods-example-price-count {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .benefit .benefit__goods-example-price-count p {
    font-size: 26px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__goods-example-price-count p {
    font-size: calc(18px + 8 * ((100vw - 320px) / 1110));
  }
}
.benefit__goods-example-img {
  margin: 0px 50px;
  position: relative;
  width: 100%;
  max-width: 499px;
  padding: 0px 0px 34% 0px;
}
.benefit__goods-example-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.benefit__slider-navline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1430px) {
  .benefit .benefit__slider-navline {
    margin-top: 0px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__slider-navline {
    margin-top: calc(30px + -30 * ((100vw - 320px) / 1110));
  }
}
.benefit__slider-example-arrow {
  cursor: pointer;
}
.benefit__slider-example-arrow_next {
  margin: 0px 45px 0px 0px;
}
.benefit__slider-example-arrow_prev {
  margin: 0px 0px 0px 45px;
}
.benefit__slider-navline-textbox {
  width: 100%;
  text-align: center;
}
.benefit__slider-navline-textbox p {
  color: #1F2428;
}
.benefit__slider-navline-textbox p:first-child {
  font-size: 18px;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}
.benefit__slider-navline-textbox p:last-child {
  font-size: 26px;
  font-weight: 700;
}
.benefit__slider-navline-textbox p:last-child span {
  color: #01CD7D;
}
@media (max-width: 1430px) {
  .benefit .benefit__slider-navline-textbox p:first-child {
    font-size: 18px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__slider-navline-textbox p:first-child {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .benefit .benefit__slider-navline-textbox p:last-child {
    font-size: 26px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__slider-navline-textbox p:last-child {
    font-size: calc(16px + 10 * ((100vw - 320px) / 1110));
  }
}
.benefit__advantages-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  min-height: 180px;
  -webkit-box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
          box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
  border-radius: 16px;
  margin: 100px 0px 0px 0px;
}
@media (max-width: 1430px) {
  .benefit .benefit__advantages-items {
    margin-top: 100px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .benefit .benefit__advantages-items {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 927px) {
  .benefit .benefit__advantages-items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 597px) {
  .benefit .benefit__advantages-items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (120px)[4];
    grid-template-rows: repeat(4, 120px);
  }
  .benefit .benefit__advantages-items > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .benefit .benefit__advantages-items > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .benefit .benefit__advantages-items > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .benefit .benefit__advantages-items > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}
.benefit__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  position: relative;
}
.benefit__advantages-item span {
  max-width: 162px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #1F2428;
  margin: 0px 0px 0px 25px;
}
@media (min-width: 927px) {
  .benefit .benefit__advantages-item:nth-child(2)::before, .benefit .benefit__advantages-item:nth-child(3)::before, .benefit .benefit__advantages-item:nth-child(4)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    background: #C0C9D7;
    width: 1px;
    height: 80%;
  }
}
@media (max-width: 597px) {
  .benefit .benefit__advantages-item:nth-child(2)::before, .benefit .benefit__advantages-item:nth-child(3)::before, .benefit .benefit__advantages-item:nth-child(4)::before {
    content: "";
    position: absolute;
    left: 5%;
    top: 0;
    background: #C0C9D7;
    height: 1px;
    width: 90%;
  }
}

@media (max-width: 784px) {
  .benefit__goods-example {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefit__goods-example-infoblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefit__goods-example-info {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
  .benefit__goods-example-img {
    margin: 30px 0px;
    padding: 0px 0px 66% 0px;
  }
  .benefit__slider-navline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .benefit__slider-example-arrow_next {
    margin: 0px 0px 0px 20px;
  }
  .benefit__slider-example-arrow_prev {
    margin: 0px 20px 0px 0px;
  }
  .benefit__slider-navline-textbox {
    width: auto;
  }
  .benefit__slider-example-img-prev, .benefit__slider-example-img-next {
    display: none;
  }
}
.registrationbord {
  width: 100%;
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.registrationbord__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  max-width: 1920px;
  padding: 0px 60px;
}
.registrationbord__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 480px;
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
  margin: 100px 0px 0px 0px;
}
@media (max-width: 1430px) {
  .registrationbord .registrationbord__block {
    margin-top: 100px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .registrationbord .registrationbord__block {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 1110));
  }
}
.registrationbord__block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}
.registrationbord__img {
  position: relative;
  width: 100%;
  max-width: 402px;
  padding: 0px 0px 30% 0px;
}
.registrationbord__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.registrationbord__content {
  max-width: 770px;
  margin: 0px 0px 0px 75px;
}
.registrationbord__propose {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
}
.registrationbord__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin: 10px 0px 30px 0px;
}
@media (max-width: 1430px) {
  .registrationbord .registrationbord__propose {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .registrationbord .registrationbord__propose {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .registrationbord .registrationbord__propose {
    line-height: calc(28px + 12 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) {
  .registrationbord .registrationbord__description {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .registrationbord .registrationbord__description {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}
@media (max-width: 1430px) and (max-width: 1430px) {
  .registrationbord .registrationbord__description {
    line-height: calc(24px + 6 * ((100vw - 320px) / 1110));
  }
}
.registrationbord__btn {
  width: 240px;
  height: 66px;
}

@media (min-width: 784px) {
  .registrationbord__block-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 784px) {
  .registrationbord__container {
    padding: 0px 15px;
  }
  .registrationbord__block-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .registrationbord__content {
    margin: 0;
    text-align: center;
    max-width: 560px;
  }
  .registrationbord__btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 30px 0px;
  }
  .registrationbord__img {
    padding: 0px 0px 65% 0px;
  }
}